* {padding: 0px; margin:0px; width:100%; font-family: 'Arial'}

.container
{
    width:70%;
    margin:60px auto;
}

.page-title
{
    font-size: 26px;
    color:#1A5276;
}

form{
    margin-bottom:50px;
}

table tr, td{
    width:auto;
    font-size: 18px;
    margin:5px;
}
table td
{
    padding:3px;
}

input
{
    padding:7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #AEB6BF;
}

input[type=text]
{
    width:400px;
}

input[type=number]
{
    width:100px;
}

.save-button
{
    width:120;
    height:35px;
    background: #27AE60;
    border: none;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
}

.repo-label 
{
	color:#292E40;
	cursor: pointer;
    padding:10 15px;
    width: auto;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #E5E7E9; 
	align-items:center;
	justify-content:center;
    border-radius: 5px;
    margin: 3px;
}

input[type=checkbox]{display: none;}

input[type=checkbox]:checked + .repo-label  
{
    color:#fff;
    background: #21618C;
}


