{% set interval = config.interval%}
{% set columns = config.columns %}

<script>
    interval = "{{interval}}";
</script>

{% extends 'layout.html' %}
{% block header %}
    <style>
        :root
        {
            --panel-width: calc({{100/columns}}%);
            --panel-height: calc({{100*1.1/columns}}%);
            --repo-slug: calc({{4.5/columns}}rem);
            --event-title: calc({{5/columns}}rem);
            --footer-text: calc({{3.3/columns}}rem); 
            --event-details-text: calc({{3.6/columns}}rem);
            --event-details-image: calc({{4/columns}}rem);  
        }
        body{background: #000}
    </style>
{% endblock %}

{% block filter %}
<ul class="navbar-form navbar-left">
    <div class="form-group">                        
        <div class="dropdown pull-center">
            <button id="event_filter" class="btn btn-black dropdown-toggle" type="button" data-toggle="dropdown" value="all">					
                Events
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="filter_events('cron');">ِCron</a></li>
                <li><a onclick="filter_events('pull_request');">ِPull request</a></li>
                <li><a onclick="filter_events('push');">ِPush</a></li>
                <li><a onclick="filter_events('api');">ِApi</a></li>
                <li role="separator" class="divider"></li>
                <li><a onclick="filter_events('all');">ِRemove filter</a></li>
            </ul>						  
        </div>
    </div>    
</ul>
{% endblock %}

{% block content %}
    <div id="container">
        <div class="loading">
            <img src="/static/photos/loading.gif" width="80px">
        </div>
    </div>

    <div class="modal fade" id="actions" role="dialog">
        <div class="modal-dialog" style="width:35%">
            <div class="modal-content">
                <div class="modal-loading">
                    Loading...
                </div>
            </div>
        </div>
    </div>
{% endblock %}