<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/js/script.js?"></script>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/dashboard.css">
        {% block header %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="border-radius:0px;">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CI Dashboard</a>
                </div>

                <form class="navbar-form navbar-left">
                    <div class = "form-group" style="padding:0 10px; background: #000; border-radius:5px;">
                        <label for="event_filter" style="color:#D7DBDD">Events</label>
                        <select id="event_filter" class="filter">
                          <option value="all">All</option>
                          <option value="cron">Cron</option>
                          <option value="pull_request"n>Pull request</option>
                          <option value="push">Push</option>
                          <option value="api">Api</option>
                        </select>
                    </div>                  
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="https://github.com/ahmedelsayed-93/ci-dashboard" target="_blank">Github</a></li>
                </ul>
            </div>

            <div id="update-loader" class="bars-container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

        </nav>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>