<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/js/script.js?"></script>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/dashboard.css">
        {% block header %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="border-radius:0px;">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CI Dashboard</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <select class="form-control" id="event_filter">
                        <option value="all">All</option>
                        <option value="cron">Cron</option>
                        <option value="push">Push</option>
                        <option value="pull_request">Pull Request</option>
                        <option value="api">Api</option>
                    </select>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="https://github.com/ahmedelsayed-93/ci-dashboard" target="_blank">Github</a></li>
                </ul>
            </div>
        </nav>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>