<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{{repo.info.slug}}</h4>
</div>
<div class="modal-body">
    {% if repo.info.branches %}
        <form class="form-inline" action="/dashboard" method="post">
            <h5><strong>Trigger new build</strong></h5>
            <div class="form-group" style="width:70%;">
                <select class="form-control" name="branch" style="width:100%;">
                    {% for branch in repo.info.branches %}
                        <option>{{branch}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type='hidden' name='repo' value="{{repo.info.slug}}"/>
            <button type="submit" name="trigger" class="btn btn-success" style="width:20%;">Trigger</button>
        </form>
    {% endif %}

    <form class="form" action="/dashboard" method="post">
        <input type='hidden' name='repo' value="{{repo.info.slug}}"/>
        <input type='hidden' name='buildid' value="{{repo.last_build.id}}"/>
        {% if repo.last_build.state.lower() in ['created', 'started'] %}
            <button type="submit" name="cancel-build" class="btn btn-danger">Cancel build #{{repo.last_build.number}}</button>
        {% elif repo.last_build.state.lower() in ['failed', 'passed', 'errored', 'canceled'] %}
            <button type="submit" name="restart-build" class="btn btn-primary">Restart build #{{repo.last_build.number}}</button>
        {% endif %}
    </form>

</div>