{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/settings.css">
{% endblock %}

{% block content %}
<div class="container">
    <p class="page-title">Settings</p><br>
    <form method="post" action="/settings">
        <table>
            <tr>
                <td>Travis token</td>
                <td><input type="text" name="token" value="{{config.token}}"></td>
            </tr>
            <tr>
                <td>Github token</td>
                <td><input type="text" name="github_token" value="{{config.github_token}}"></td>
            </tr>
            <tr>
                <td>Threads</td>
                <td><input type="number" name="threads" value="{{config.threads}}"></td>
            </tr>
            <tr>
                <td>Columns</td>
                <td><input type="number" name="columns" value="{{config.columns}}"></td>
            </tr>
            <tr>
                <td>Interval (ms)</td>
                <td><input type="number" name="interval" value="{{config.interval}}"></td> 
            </tr>
         </table><br>
         <input class="save-button" type="submit" name="configration" value="Save">
    </form>

    <form method="post" action="/settings">
        <p class="page-title">Repositories</p><br>
        <div style="display:inline-block">
        {% if not repos %}
            No repositories were found
        {% else %}
            {% for repo in repos %}
                <input type="checkbox" value="{{repo.slug}}" id="{{repo.slug}}" name="repos" {{'checked' if repo.slug in config.repos}}>
                <label class="repo-label" for="{{repo.slug}}">{{repo.slug}}</label>
            {% endfor %}
        {% endif %}
        </div><br><br>
        <input class="save-button" type="submit" name="repositories" value="Save">
    </form>
</div>
{% endblock %}
