{% extends 'base.html'%}

{% block head %}

<link rel="stylesheet" href="/static/css/dashboard.css">
<script src="/static/js/script.js"></script>
<script>
    window.onload = function() {resizePanelItems();};
    timer = setInterval(function(){window.location.reload(1);}, {{utils.config.interval}})
    $(document).ready(function(){
        $(".dropdown").hover(function(){
            clearTimeout(timer);
        }, function(){
            timer = setTimeout(function(){window.location.reload(1);}, {{utils.config.interval}});
        });
    });
</script>

{% endblock %}

{% block content %}

<div class="container">
    {% set child_size = 100/utils.config.columns %}
    {% for repo in repos %}   
        {% set base_url = 'https://travis-ci.org/' + repo.slug %}     
        <div class="child" style="width:{{child_size}}%; height:{{child_size}}%;">
            <div id="repo.repo.id" class="panel {{repo.last_build.state or 'none'}}">
                <div class="panel-top">
                    {% include 'dashboard/panel/top.html' %}
                </div>
                <div class="panel-middle">
                    {% include 'dashboard/panel/middle.html' %}
                </div>
                <div class="panel-bottom">
                    {% include 'dashboard/panel/bottom.html' %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}